body{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(211, 77, 15);
}
.hafe-with{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hafe-with img{
    width: 100%;
}
.backround-image{
    background-image: url("Image/backround.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;
}


.step-1{
    color: rgb(255, 0, 0);
    text-align: center;
}

.hafe-with2{
    width: 30%;
    float: left;
    margin-left: 0%;
    padding-left: 1.5%;
}
.hafe-with2 img{
    width: 100%;
}
.backround-image{
    background-image: url("Image/ba ckround.png");
    
    
    background-repeat: no-repeat;

}
section{
    height: 500px;
}




